---
import Section from '@/components/Section.astro';
import Dark from '@/icons/Dark.astro';
import GitHub from '@/icons/GitHub.astro';
import Light from '@/icons/Light.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import Mail from '@/icons/Mail.astro';
import WorldMap from '@/icons/WorldMap.astro';
import { basics } from '@cv';

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
	GitHub,
	LinkedIn,
};

const linkedInfo = profiles.find(({ network }) => network === 'LinkedIn');
const githubInfo = profiles.find(({ network }) => network === 'GitHub');
const linkedUrl = linkedInfo?.url;
const printInfo = [email, phone, linkedUrl].filter(Boolean).join(' • ');

const props = Astro.props;
---

<Section>
	<div class='container'>
		<div class='info'>
			<h1>{name}</h1>
			<h2>{label}</h2>
			<span>
				<WorldMap />
				{city}, {region}
			</span>
			<footer>
				<div class='print'>
					{printInfo}
				</div>
				{
					email && (
						<a
							href={`mailto:${email}`}
							class='email'
							title={`Enviar un correo electrónico a ${name} al correo ${email}`}
							target='_blank'
							rel='noopener noreferrer'
						>
							<Mail />
						</a>
					)
				}
				<!-- {
					phone && (
						<a
							href={`tel:${phone}`}
							class='phone'
							title={`Llamar a ${name} al teléfono ${phone}`}
							target='_blank'
							rel='noopener noreferrer'
						>
							<Phone />
						</a>
					)
				} -->
				{
					profiles.map(({ network, username, url }) => {
						const Icon = SOCIAL_ICONS[network];

						if (!Icon) return null;
						return (
							<a
								href={url}
								class={network.toLowerCase()}
								title={`Visitar perfil de ${name} en ${network}`}
								target='_blank'
								rel='noopener noreferrer'
							>
								<Icon />
							</a>
						);
					})
				}
			</footer>
		</div>
		<div class='avatar'>
			<div class='light-dark-toggle'>
				<Light class='light-mode' ' />
				<Dark class='dark-mode' ' />
			</div>
			<div class='print'></div>
			<img src={image} alt={`Foto de perfil de ${name}`} width='200' height='auto' />
		</div>
	</div>
</Section>

<style>
	.container {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 24px;
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-right: 2rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		color: #444;
		font-weight: 500;
		font-size: 1.1rem;
		text-wrap: balance;
	}

	img {
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 12px;
		width: 128px;
	}

	span {
		color: #666;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.85rem;
		letter-spacing: -0.05rem;
	}

	footer {
		display: flex;
		gap: 4px;
		margin-top: 8px;

		a {
			color: #777;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			border: 1px solid #eee;
			border-radius: 6px;
			transition: all 0.3s ease;

			&:hover {
				background-color: #eee;
				border-color: #ddd;
			}
		}
	}

	.avatar {
		display: flex;
		gap: 12px;
		color: #444;

		svg {
			cursor: pointer;
		}
	}

	.print {
		display: none;
		font-size: 0.75rem;
		color: #666;
		line-height: 1.3;
	}

	@media (prefers-color-scheme: dark) {
		p {
			color: var(--text-color);
		}

		h2 {
			color: var(--h2-color);
		}

		span {
			color: var(--span-color);
		}

		.avatar {
			color: var(--avatar-color);

			img {
				border: 1px solid #333;
			}
		}

		footer a {
			color: var(--link-color);
			border-color: var(--border-color);
		}
	}

	@media (width < 680px) {
		.container {
			flex-direction: column;
		}

		.avatar {
			order: -1;
		}

		.avatar .light-dark-toggle {
			order: 1;
		}
	}

	@media print {
		.print {
			display: block;
		}

		footer > a {
			display: none;
		}
	}
</style>
